@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --white: #fff;
  --black: #0b0e10;
  --blue: #5040FF;
  --red: #FB6514;
  --green: rgba(0, 187, 131, 0.7);
  --yellow: #F8C231;
  --text-secondary: #AAAAAA;
  --attention: #c69026
}

:root {
  --background-color: #1E1E1E;
  --color: #eee;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-size: min(6vw, 24px);
  line-height: 1.6;
  font-weight: 500;
  background-color: #000;
  color: var(--color);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
  position: relative;
  letter-spacing: 1px;
}

.main {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--white);
}

.container {
  position: relative;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header img {
  width: 400px;
  height: 500px;
  margin-bottom: 1rem;
}

.header .heading {
  font-size: 24px;
  opacity: 0.9;
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 2px;
}

.header .sub-heading {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--green);
  margin-top: 8px;
}

.header .about {
  font-size: 16px;
  margin-top: 32px;
  color: var(--text-secondary);
  background-color: var(--black);
  padding: 16px;
}

.section-title {
  font-size: 18px;
  margin-top: 40px;
}

.now .now-list {
  font-size: 16px;
  color: var(--text-secondary);
  margin-left: 16px;
}

.list-wrapper {
  background-color: var(--black);
  padding: 16px;
  margin-top: 8px;
}

.now .now-item-url {
  color: var(--yellow);
  transition: all ease 300ms;
  opacity: 0.8;
}

.now .now-item-url:hover {
  opacity: 1;
}

.projects .projects-list {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-list .status {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: var(--white);
  height: 24px;
  padding: 8px;

  &.paused {
    background-color: var(--yellow);
  }

  &.building {
    border: 1px solid var(--green);
    color: var(--green);
  }

  &.completed {
    background-color: var(--green);
  }

  &.archived {
    border: 1px solid var(--attention);
    color: var(--attention);
  }
}

.project {
  background-color: var(--black);
  padding: 16px;
  margin-top: 16px;
}

.project:first-of-type {
  margin-top: 0;
}

.project:hover {
  cursor: pointer;
  background-color: var(--background-color);
  transition: background-color ease 300ms;
}

.projects-list .info {
  width: 100%;
}

.projects-list .info .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projects-list .info .title {
  font-size: 16px;
}

.projects-list .info a:hover {
  opacity: 0.9;
  cursor: pointer;
}

.projects-list .info .description {
  font-size: 16px;
  color: var(--text-secondary);
  margin-top: 12px;
}

.projects-list .info img {
  height: 120px;
  width: 100%;
  margin-top: 16px;
  border-radius: 8px;
}

.social {
  margin-top: 80px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social ul {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 16px;
}

.social li a {
  color: var(--color);
  opacity: 0.7;
  transition: all ease 300ms;
}

.social li a span {
  border-bottom: 1px solid #fff;
}

.social li a:hover {
  opacity: 1;
  cursor: pointer;
}

.divider {
text-align: center;
}

.books-section {
  margin-top: 16px;
  display: flex;
  flex-direction: column;

  .books-list {
    display: flex;
    margin-top: 8px;
    gap: 8px;

    .book {
      background-color: var(--black);
      padding: 12px;
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all ease 300ms;
      gap: 8px;
      border-radius: 6px;
      position: relative;
      height: 330px;

      .book-status {
        color: var(--white);
        font-size: 12px;
        color: var(--text-secondary);
        font-weight: 600;
        position: absolute;
        top: 12px;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--background-color);

        img {
          transform: translateY(30px);
          transition: transform ease 300ms;
          cursor: pointer;
        }
      }

      img {
        width: 100%;
        height: 235px;
        border-radius: 4px;
        z-index: 3;
        transform: translateY(0px);
        transition: transform ease 300ms;
        cursor: pointer;
      }

      .book-title {
        font-size: 14px;
      }

      .book-author {
        font-size: 12px;
        color: var(--text-secondary);
      }
    }
  }

  .books-carousal {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    span {
      height: 24px;
      width: 24px;
    }

    svg {
      height: 100%;
      width: 100%;
    }

    span:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}